body {
  font-family: "Be Vietnam Pro";
}

.heading {
  background-image: url("https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg");
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.intro {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  width: 35%;
  color: white;
  margin-left: 10vw;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px;
}
